<% group.entities.order('created_at desc').each do |transaction| %>
  <div class="text-gray-500 text-sm mt-4 border-t">
    <div class="my-3 py-1">
      <div class="flex justify-between py-3">
        <p class="font-semibold pb-2">
          <%= transaction.name %>
        </p>
        <div class="flex space-x-6">
        <span class="bg-gray-100 p-2 rounded-full">
          <%= link_to update_transaction_path(transaction) do %>
            <%= image_tag "edit-file.svg", alt: "edit-icon", class: "h-5" %>
          <% end %>
        </span>
        <span class="bg-gray-100 p-2 rounded-full btn-open-trans-popup" id="<%= transaction.id %>">
          <%= image_tag "trash-bin.svg", alt: "trash-icon", class: "h-5" %>
        </span>
        </div>
      </div>
      <div class="flex justify-between">
        <p>
          <%= transaction.created_at.strftime("%e %b, %Y at %H:%M") %>
        </p>
        <p>$ <%= transaction.amount %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="flex justify-between items-center py-2 border-t">
  <% if group.entities.exists? %>
    <p class="text-gray-500">TOTAL PAYMENT</p>
    <p class="font-semibold">$<%= group.entities.sum(:amount) %></p>
  <% else %>
    <p class="text-center font-semibold pb-2">No transactions available</p>
  <% end %>
</div>

<div class="confirm-transaction-delete hidden">
  <%= render partial: "partials/delete_confirm_popup",
    locals: { caller_delete_route:  nil, message: "Delete Transaction" } %>
</div>
