
<% if can? :read, data %>
<div>
  <% if view == "group" %>
    <% data.each do |group| %>
      <div class="py-2 px-3">
        <%= link_to single_group_path(group) do %>
          <div class="bg-white flex items-center rounded h-auto p-2 space-x-3 shadow-md">
            <div class="h-16 w-16">
              <% if group.icon.attached? %>
                <%= image_tag group.icon, alt: "group-photo" %>
              <% end %>
            </div>
            <div class="flex flex-col justify-between h-14 w-full">
              <div class="flex justify-between text-sm">
                <p class="text-gray-500"><%= group.name %></p>
                <p class="text-gray-700 font-semibold right-0">$<%= group.entities.sum(:amount) || 0 %></p>
              </div>
              <div>
                <p class="text-gray-500 text-sm">
                  <%= group.created_at.strftime("%e %b, %Y") %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% data.each do |transaction| %>
      <div class="py-2 px-3">
        <%= link_to single_group_path(transaction.group_id) do %>
          <div class="bg-white flex items-center rounded h-auto p-2 space-x-3 shadow-md">
            <div class="h-16 w-16">
              <% if transaction.group.icon.attached? %>
                <%= image_tag transaction.group.icon, alt: "group-photo" %>
              <% end %>
            </div>
            <div class="flex flex-col justify-between h-14 w-full">
              <div class="flex justify-between text-sm">
                <p class="text-gray-500"><%= transaction.group.name %></p>
                <p class="text-gray-700 font-semibold right-0">$<%= transaction.amount %></p>
              </div>
              <div>
                <p class="text-gray-500 text-sm">
                  <%= transaction.created_at.strftime("%e %b, %Y at %H:%M") %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>