<div>
  <div class="bg-primary-blue h-auto py-5">
    <div class="flex items-center justify-between text-white px-4">
      <button>
        <%= link_to "<-", root_path %>
      </button>
      <p>Create new category</p>
      <button>
        <div class="actions">
          O
        </div>
      </button>
    </div>
    <div class="flex items-center justify-center mt-5 space-x-5 text-white">
      <a class="cursor-pointer">
        <%= link_to 'View transactions', transactions_path %>
      </a>
      <a class="cursor-pointer">
        <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
      </a>
    </div>
  </div>
</div>

<%= form_with model: @group, url: group_new_path do |f| %>
  <div class="">
    <div class="mt-10 text-primary-gray">
      <%= f.text_field :name,
        autofocus: true,
        autocomplete: "name",
        placeholder: "Category Name",
        class: "appearance-none block w-full px-3 py-2 border border-gray-300 h-14 focus:outline-none focus:ring-primary-blue focus:border-primary-blue" %>

      <div class="appearance-none block w-full px-3 py-4 border border-gray-300 h-auto focus:outline-none focus:ring-primary-blue focus:border-primary-blue">
        <label class="mb-4">Upload Icon</label>
        <%= f.file_field :icon %>
      </div>

      <div class="flex items-center justify-center mt-16">
        <div class="actions">
          <%= f.submit "SAVE", class: 'cursor-pointer bg-primary-green p-4 w-48 rounded-md text-white font-semibold' %>
        </div>
      </div>
    </div>
  </div>
<% end %>