<%= form_with model: @user, url: registration_path(current_user) do |f| %>
  <div class="mt-28 text-primary-gray">
  <%= render "users/shared/error_messages", resource: @user %>

  <div class="appearance-none w-full py-2 border border-gray-300 h-24 focus:outline-none focus:ring-primary-blue focus:border-primary-blue flex items-center space-x-10 px-2">
      <div class="h-14 w-14 rounded-full bg-gray-400">
        <%= image_tag "user-gray.png", id: "preview_profile_pic_tag", class: "rounded-full h-full w-full" %>
      </div>

      <%= f.file_field :profile_pic, id: "profile_pic_tag", class: "hidden" %>
      <label for="profile_pic_tag">Update picture</label>

    </div>

    <%= f.text_field :name,
      autofocus: true,
      autocomplete: "name",
      placeholder: "Full name",
      class: "appearance-none block w-full px-3 py-2 border border-gray-300 h-14 focus:outline-none focus:ring-primary-blue focus:border-primary-blue" %>

    <%= f.email_field :email,
      autofocus: true,
      autocomplete: "email",
      placeholder: "Email",
      class: "appearance-none block w-full px-3 py-2 border border-gray-300 h-14 focus:outline-none focus:ring-primary-blue focus:border-primary-blue" %>
  </div>

  <div class="actions flex items-center justify-center  space-x-4 my-16 mx-3">
    <%= f.submit "UPDATE", class: "actions cursor-pointer bg-primary-green p-4 w-32 rounded-md text-white font-semibold text-center h-14" %>
  </div>
<% end %>
